<div id="<%= dom_id soup_question %>">
  <div>
    <strong>Title:</strong>
    <%= soup_question.title %>
  </div>

  <div>
    <strong>Body:</strong>
    <%= soup_question.body %>
  </div>

  <div>
    <strong>Answer:</strong>
    <%= soup_question.answer %>
  </div>

  <div>
    <strong>Explanation:</strong>
    <%= soup_question.explanation %>
  </div>

</div>
