<p style="color: green"><%= notice %></p>

<%= render @soup_question %>

<div>
  <%= link_to "Back to soup questions", soup_questions_path %>
</div>

<h2>質問する</h2>

<% if @question.errors.any? %>
  <div>
    <p>質問を送信できませんでした。</p>
    <ul>
      <% @question.errors.each do |error| %>
        <% if error.attribute == :body && error.type == :blank %>
          <li>質問内容を入力してください</li>
        <% elsif error.attribute == :body && error.type == :too_long %>
          <li>質問内容は200文字以内で入力してください</li>
        <% else %>
          <li><%= error.full_message %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: [@soup_question, @question]) do |f| %>
    <div>
    <%= f.label :body, "質問内容" %><br>
    <%= f.text_area :body %>
  </div>

  <div>
    <%= f.submit "送信" %>
  </div>
<% end %>

<h2>これまでの質問</h2>

<% @soup_question.questions.each do |q| %>
  <p>
    Q: <%= q.body %><br>
    A: <%= q.answer || "（未回答）" %>
  </p>
<% end %>